
  <div class="flex-container border-up">
    <div class="flex-container left">
      <div class="logo-container">
        {{ page.logo }}
      </div>
      <div class="menu-side-container flex-container">
        <div class="small-height-container full-space" >
          {{ page.search }}
        </div>
        <div class="get-on-top full-space" >
          {{ page.menu }}
        </div>
        <div class="get-on-top full-space" >
          {{ page.subMenu }}
        </div>
      </div>
    </div>
    <div class="content flex-container">
      <div class="full-space flex-start-self Testi-pagine">
        {{ page.bricioleDiPane }}
        {{ page.content }}
      </div>
    </div>
    <div class="right">
    </div>
  </div>
  <div class="the-footer flex-container">
    <div style="align-self:flex-end;" class="content">
      {{ page.bottomInfoSite }}
    </div>
    <div class="left flex-container" >
      <h3 style="align-self:flex-end;padding-left:40px;" class="powered-by Testi-menu">Powered by Farnedi ICT</h3>
    </div>
    <div class="right">
    </div>
  </div>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,600i" rel="stylesheet">
