{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="breadcrumb-container flex-container content-center full-space" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    {% for item in breadcrumb %}
      <div class="black-text">
        {% if item.url %}
          {% if item.text == "Home"%}
            <a href="{{ item.url }}"><img style="height:18px;width:18px;margin-right:5px;" src="/themes/Trasparenza/images/home.png" ></a>
          {% endif %}
          {% if item.text != "Node" and item.text != "Home"%}
          <img style="height:4.9px;width:7px;margin-right:5px;margin-bottom:2px;" src="/themes/Trasparenza/images/arrow-dark.png" ><a href="{{ item.url }}">{{ item.text }}</a>
          {% endif %}
        {% else %}
          {{ item.text }}
        {% endif %}
      </div>
    {% endfor %}
  </nav>
{% endif %}
